@import url("./../../node_modules/lenis/dist/lenis.css");
/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway", sans-serif;
  --nav-font: "Poppins", sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
  --background-color: #ffffff; /* Background color for the entire website, including individual sections */
  --default-color: #272829; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #050d18; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #149ddd; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #a8a9b4; /* The default color of the main navmenu links */
  --nav-hover-color: #ffffff; /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #040b14; /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #040b14; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #a8a9b4; /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #ffffff; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

html,
body {
  height: 100%;
  background: #000; /* match your page background to avoid white flash */
  overscroll-behavior-y: none; /* blocks bounce / pull-to-refresh */
  -webkit-overflow-scrolling: auto; /* not necessary for overscroll, but ok */
  // overflow: hidden;
  // position: fixed;
  // pointer-events: unset !important;
}

body {
  background-color: transparent;
  transition: background-color 0.6s ease-in-out !important;
}

.navigation-tabs button {
  font-size: 0.4rem !important;
}

.black-bg {
  background-color: #000 !important;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

#app-splash {
  position: fixed;
  inset: 0;
  background: #000; /* match your theme */
  z-index: 9999;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  transition: opacity 0.4s ease, visibility 0.4s ease;
}

#app-splash.hide {
  opacity: 0;
  visibility: hidden;
  display: none;
}

#particles-js {
  /* position: absolute; */
  /* top: 0;
  bottom: 0; */
  width: 100vw;
  height: 100%;
  z-index: 999;
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
  --background-color: #f4fafd;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #040b14;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #151f2b;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

.v-responsive img {
  object-position: 65% !important;
}

.section-title {
  // padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.section-title h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #00e4ff;
  left: 0;
  bottom: 0;
}

.section-title-dash-text {
  top: 35%;
  left: 8%;
}

.section-title-up {
  // padding-bottom: 60px;
  position: relative;
}

.section-title-up h2 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 20px;
  padding-top: 20px;
  position: relative;
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.section-title-up h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #fff;
  left: 0;
  top: 0;
}

.section-title p {
  margin-bottom: 0;
}

#extension {
  // background-image: url('./../assets/img/sky0.png');
  // background: linear-gradient(rgba(0, 0, 0, 0), rgba(54, 20, 22, 0.2)), url('./../assets/img/sky0.png');
  background-size: cover;
  background-repeat: no-repeat;
}

// .overlay {
//   position: absolute;
//   inset: 0;
//   background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
//   z-index: 101;
// }

// .overlay, .overlay *  {
//   pointer-events: none;
// }

.v-responsive__content {
  z-index: 999 !important;
  // pointer-events: unset !important;
}

// .about-content::after {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   content: "";
//   inset: 0;
//   background-color: linear-gradient(rgba(0, 0, 0, 0.7));
//   // background: linear-gradient(rgba(0,0,0,0.9));
// }

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  /* min-height: 100vh; */
  // max-height: 100vh;
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @supports (height: 100svh) {
  .hero {
    height: 100svh;
  }
} */

// @media (max-width: 768px) {
//   .hero {
//     height: 90vh !important;
//   }
// }

.about-content video {
  object-fit: cover;
  background: black;
  // pointer-events: none;
}

.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  z-index: 1;
}

// .hero:before {
//   content: "";
//   background: color-mix(in srgb, var(--background-color), transparent 70%);
//   position: absolute;
//   inset: 0;
//   z-index: 2;
// }

.about-content video {
  position: relative;
  z-index: 1;
}

.video-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 45, 81, 0.2);
  z-index: 222;
  pointer-events: auto;  /* <-- allow overlay to receive pointer events */
  cursor: default; 
}

.hero .container {
  position: relative;
  z-index: 3;
}

.hero h2 {
  margin: 0;
  // font-size: 64px;
  font-weight: 700;
}

.hero p {
  margin: 5px 0 0 0;
  // font-size: 26px;
}

.hero p span {
  letter-spacing: 1px;
  border-bottom: 2px solid var(--accent-color);
}

.hero .social-links {
  margin-top: 25px;
}

.hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

.hero .social-links a:hover {
  color: var(--accent-color);
}

.satellite-img {
  width: 20vh !important;
  position: relative !important;
  animation-duration: 18s !important;
}

@media screen and (max-width: 600px) {
  .satellite-img {
    width: 15vh !important;
    position: relative !important;
    animation-duration: 18s !important;
  }

  .section-title-dash-text {
    top: 35%;
    left: 20%;
  }
}

#look-around {
  object-position: right;
  object-fit: cover;
}

.down-btn img {
  transform: rotateZ(180deg);
}

